<%= form_for([@post, @post.comments.build]) do |f| %>

  <div class="field">
    <%= f.label :Comment %>
    <%= f.text_area :content, class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
